<footer>
    <div class="container">
        <div class="row text-center">

            <div class="col-12  col-social text-center ">
                    <div class="footer-otherText" >
                        Find me here:
                    </div>
                    <div class="footer-images">
                        <img class="col-element" src="https://img.icons8.com/officel/30/000000/facebook-new.png"/>
                        <img class="col-element" src="https://img.icons8.com/nolan/30/github.png"/>
                        <img class="col-element" src="https://img.icons8.com/officel/30/000000/linkedin.png"/>
                    </div>

            </div>
            <div class="col-12  containerForMainText">

                <p class="footer-mainText"> Pietras Rental&copy; </p>
                <hr>
            </div>
            <div class="col-12  footer-otherText">
                <p style="margin:0;">Project website PAW</p>
                <small style="padding:0; display: block; line-height: 20px;">Pietras Marcin</small>
                <small style="padding:0; display: block; line-height: 20px;">2020r. koronawirus</small>
            </div>

        </div>

    </div>
</footer>
