$myColor: #0070ad;
.footer--dark {
  background-color: rgb(129, 129, 129);
}
.container{
    font-family: "Abril Fatface", cursive;
    padding:50px 0;
}
.row {
  margin:0;
}
.footer-mainText{
  display: inline-block;
    font-size: 24px;
    letter-spacing:4px;
    font-weight: bold;
    padding-bottom: 20px;
}
.containerForMainText{
  padding: 0;
  display: inline-block;
  width: 100px;
    & hr {
        border-top-color: $myColor;
      width: 80vw;
      max-width: 500px;
     }
}
.col-element {
    padding: 0 10px;
}
.footer-otherText {
    margin-top: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-images {
    margin-bottom: 10px;
}
.col-social{
    line-height: 30px;
    font-weight: bold;
    padding: 0;
}

