<div class="container">
    <div class="row underImageText">
        {{ "homepage.underImageText" | translate}}
      <br>
      {{ "homepage.underImageTextTwo" | translate}}
    </div>
    <div class="row offer">
        <div class="col-12 col-xl-4">
            <div class="contForOffer" [ngClass] = "changeMode('underImageBorder')">
                <div class="container-image" >
                    <img class = "image-offer" src="https://img.icons8.com/carbon-copy/100/000000/gas-station.png">
                </div>
                <div class="container-text">
                    <h3 class="text-headling">
                      {{ "homepage.additionalOptionsHeader" | translate}}
                    </h3>
                    <p class="text-paragraph">
                      {{ "homepage.additionalOptionsText" | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="contForOffer" [ngClass] = "changeMode('underImageBorder')">
                <div class="container-image">
                    <img class = "image-offer" src="https://img.icons8.com/wired/100/000000/traffic-jam.png">
                </div>
                <div class="container-text">
                    <h3 class="text-headling">
                      {{ "homepage.carsKindHeader" | translate}}
                    </h3>
                    <p class="text-paragraph">
                      {{ "homepage.carsKindText" | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="contForOffer" [ngClass] = "changeMode('underImageBorder')">
                <div class="container-image">
                    <img class = "image-offer" src="https://img.icons8.com/wired/100/000000/driver.png">
                </div>
                <div class="container-text">
                    <h3 class="text-headling">
                      {{ "homepage.chauffeurHeader" | translate}}
                    </h3>
                    <p class="text-paragraph">
                      {{ "homepage.chauffeurText" | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
