$myColor: #0070ad;
$lightMode: rgb(241, 241, 241);
$darkMode: rgb(129, 129, 129);


.underImageText {
    display: block;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 140px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        bottom: -70px;
        left: 50%;
        width: 140px;
        border:1px solid $myColor;
        transform: translateX(-50%);
    }
}
.contForOffer{
    margin:20px 5px;
    border: 2px solid rgb(228, 228, 228);
    height: 450px;
    text-align: center;
    padding:5px;
    transition: 500ms linear all, 200ms linear transform, 200ms linear box-shadow;
    cursor: pointer;
    &:hover{
        transform: scale(1.03);
        box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.473);
    }
}
.constForOffer--darkMode {
    border: 2px solid rgb(104, 103, 103);
}
.offer {
    justify-content: space-between;
}
.text-headling {
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.text-paragraph {
    width: 300px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
.container-image {
    height: 200px;
    line-height: 200px;
}
