<div class="container">
    <div class="row underImageText">
        The best rental in Poland. The highest comfort, standard and service. 
        <br>Trust us, come and fall in love
    </div>
    <div class="row offer">
        <div class="col-12 col-xl-4">
            <div class="contForOffer" [ngClass] = "changeMode('underImageBorder')">
                <div class="container-image" >
                    <img class = "image-offer" src="https://img.icons8.com/carbon-copy/100/000000/gas-station.png">
                </div>
                <div class="container-text">
                    <h3 class="text-headling">
                        Various additional options
                    </h3>
                    <p class="text-paragraph">
                        We offer a lot of additional packages so that your trip will better.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="contForOffer" [ngClass] = "changeMode('underImageBorder')">
                <div class="container-image">
                    <img class = "image-offer" src="https://img.icons8.com/wired/100/000000/traffic-jam.png">
                </div>
                <div class="container-text">
                    <h3 class="text-headling">
                        A wide range of cars
                    </h3>
                    <p class="text-paragraph">
                        Sports cars, muscle cars, estate car, city cars- we have it all
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="contForOffer" [ngClass] = "changeMode('underImageBorder')">
                <div class="container-image">
                    <img class = "image-offer" src="https://img.icons8.com/wired/100/000000/driver.png">
                </div>
                <div class="container-text">
                    <h3 class="text-headling">
                        We offer a chauffeur
                    </h3>
                    <p class="text-paragraph">
                        Are you getting married? 
                        Do you have a bachelor party
                         and you need a limo with a 
                         chauffeur? No problem! We can 
                         guarantee everything.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>