.containerForTable {
  overflow-x: auto;
  padding: 0;
}

.contForHeader {
  display: inline-block;
}

.header {
  height: 100%;
  display: block;
}

.myTable {
  margin-top: 20px;
  border: 1px solid black;
}

.element {
  text-align: center;
  white-space: nowrap;
  border-top: 1px solid black;
}

.btn-group {
  padding: 20px;
}
