.containerForTable {
    overflow-x: scroll;
}
.myTable {
    margin-top: 20px;
    border: 1px solid black;
}
.element {
    text-align: center;
    white-space: nowrap;
    background-color: rgb(241, 238, 238);
    border-top: 1px solid black;
}
.btn-group {
    padding:20px;
}
