<div class="homepage-image">
    <div class="homepage-text">
        <p class="firstPar">{{"homepage.firstPar" | translate}}</p>
        <p class="secondPar">{{"homepage.secondPar" | translate}}</p>
        <button [routerLink]="['/vehicles']" [queryParams]="{page: 1}" class =" btn btn-outline-light btn-homepage">{{"homepage.mainButton" | translate}}</button>
    </div>
</div>
<div class="underImage" [ngClass]="changeMode('underImage')">
    <app-about-us id="aboutUs"></app-about-us>
</div>
<div class="localisation" [ngClass]="changeMode('localisation')">
    <app-localisation id="localisation"></app-localisation>
</div>
<div class="footer" >
    <app-footer></app-footer>
</div>
