<div class="homepage-image">
    <div class="homepage-text">
        <p class="firstPar">Make your dreams come true</p>
        <p class="secondPar">and rent car today!</p>
        <button class =" btn btn-outline-light btn-homepage">Check this out!</button>
    </div>
</div>
<div class="underImage" [ngClass]="changeMode('underImage')">
    <app-about-us></app-about-us>
</div>
<div class="localisation" [ngClass]="changeMode('localisation')">
    <app-localisation></app-localisation>
</div>
<div class="footer" >
    <app-footer></app-footer>
</div>
