<app-post-report [errorOccured] = "errorOccured" [message] = "message" *ngIf="isOpenReport"></app-post-report>
<div class="container">
    <div class="row">
        <div class="col-12 panel-main-text">
            <h1>Add new car to your rental</h1>
        </div>
    </div>
    <form autocomplete="off" [formGroup] = 'newCarForm' (ngSubmit) = "onUpload()">
        <div class="row">
            <div class="col-sm-4 col-12">
                <label for="carBrand" class="panel-text">Car Brand</label>
                <input placeholder="BMW" formControlName="brand" id="carBrand" type="text" class="col-12 col-sm-10 form-control panel-input">
            </div>
            <div class="col-sm-4 col-12">
                <label for="carModel" class="panel-text">Car Model</label>
                <input placeholder="M5" formControlName = "model" id="carModel" type="text" class="col-12 col-sm-10 form-control panel-input">
            </div>
            <div class="col-sm-4 col-12">
                <label for="mileage" class="panel-text">Vehicle Mileage</label>
                <input placeholder="21 000 km" formControlName = "mileage" id="mileage" type="number" class="col-12 col-sm-10 form-control panel-input">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-12">
                <label for="capacity" class="panel-text">Engine Capacity</label>
                <input placeholder="2 500 cm³" formControlName="capacity" id="capacity" type="number" class="col-12 col-sm-10 form-control panel-input">
            </div>
            <div class="col-sm-4 col-12">
                <label for="horsepower" class="panel-text">Horsepower</label>
                <input placeholder="130 hp" formControlName = "horsepower" id="horsepower" type="number" class="col-12 col-sm-10 form-control panel-input">
            </div>
          <div class="col-sm-4 col-12">
            <label for="price" class="panel-text">Price</label>
            <input placeholder="33 zł" formControlName = "price" id="price" type="number" class="col-12 col-sm-10 form-control panel-input">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-4 col-12">
            <label for="acceleration" class="panel-text">Acceleration</label>
            <input placeholder="3 s" formControlName="acceleration" id="acceleration" type="number" class="col-12 col-sm-10 form-control panel-input">
          </div>
          <div class="col-sm-4 col-12">
            <label for="year" class="panel-text">Year</label>
            <input placeholder="2016" formControlName = "year" id="year" type="number" class="col-12 col-sm-10 form-control panel-input">
          </div>
        </div>
        <div class="row">
            <div class="col-7  form-group equipment">
                <label class="panel-text" for="">Additional Equipment</label>
                <select multiple class="form-control" name="" id="">
                    <option #myIte *ngFor = "let item of equipment; let i = index" [value] = item.key (click) = "selectOption(myIte)">{{item.value}}</option>
                </select>
                <button class="btn btn-outline-dark btnEquipment" (click) = "setEquipment()" type="button">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 contForEq">
                <label *ngIf = "selectedEquipment.length != 0" class="panel-text panel-text--equipment">Added Equipment</label>
                <div *ngFor="let item of selectedEquipment;" class="addedEq">
                    {{item.value}}
                    <button type="button" class="btn btn-cross-equipment" (click) = "deleteItem(item)">
                        <span>&times;</span>
                    </button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-7  form-group image">
                <label class="panel-text">Image Upload</label>
                <div class="custom-file">
                    <input formControlName = "image" type="file" class="custom-file-input" id="image" (change)="onFileSelected($event)">
                    <label class="custom-file-label" for="image">Choose file</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="button-group">
                <button class="btn btn-outline-dark btn-clear" type = "button" routerLink="/admin-panel">Back</button>
                <button class="btn btn-outline-dark btn-clear" type = "button" (click) = "clearForm()">Clear</button>
                <button class="btn btn-outline-dark btn-submit" type="submit" [disabled]="!newCarForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>
