.userCard {
  margin: 10px;

}
.userData {
  padding: 5px;
}
.btn-group {
  margin: 0 auto;
}
.btnUser {
  margin: 0 6px;
}
.userHistory {
  max-height: 0;
  overflow: hidden;
  transition: all 500ms linear;
}
.userHistory--open {
  max-height: 300px;
  overflow-y: auto;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
@media (max-width: 600px) {
  .userId, .userName {
    font-size: 15px;
  }
  .btnUser {
    font-size: 12px;
    padding:5px;
  }
}
