$myColor: #0070ad;
$lightMode: rgb(241, 241, 241);
$darkMode: rgb(129, 129, 129);

.row {
  padding-top: 20px;
  font-family: 'Fugaz One', cursive;
}
.admin-text {
  position: relative;
  margin: 20px 0 50px 0;
  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left:50%;
    transform: translateX(-50%);
    width: 100px;
    border: 1px $myColor solid;
  }
}
.admin-options {
  padding: 20px;
  text-align: center;
  transition: all linear 100ms;
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    transform: scale(1.03);
  }
}
.btn-group {
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

@media (max-width: 600px) {
  .row {
    margin-left: 20px;
    margin-right: 20px;
  }
  .admin-options {
    font-size: 20px;
  }
}
