<div class="container">
  <div class="row justify-content-center">
    <h1 class="accountHeadline">Welcome in your panel, {{name}}!</h1>
    <h5 class="accountHeadline text-success">Your future rentals:</h5>

    <div *ngFor = "let futureCar of futureRentals" class="col-10 card accountCard ">
      <div class="row text-center border border-success">
        <div class="col-12 accountInfo">Name: {{futureCar.vehicleName}}</div>
        <div class="col-6 accountInfo">From: {{futureCar.from | date}}</div>
        <div class="col-6 accountInfo">To: {{futureCar.to | date}}</div>
        <div class="col-12 text-right">
          <div class="btn btn-dark accountBtn text-success">CANCEL</div>
        </div>
      </div>
    </div>
    <small *ngIf="futureRentals.length === 0" style = "letter-spacing: 1px; margin-bottom: 30px">You don't have any future rentals!</small>

    <h5 class="accountHeadline text-primary ">Your currently rentals:</h5>
    <div *ngFor = "let currentlyCar of currentlyRentals" class="col-10 card accountCard border border-primary">
      <div class="row text-center ">
        <div class="col-12 accountInfo">Name: {{currentlyCar.vehicleName}}</div>
        <div class="col-6 accountInfo">From: {{currentlyCar.from | date}}</div>
        <div class="col-6 accountInfo">To: {{currentlyCar.to | date}}</div>
        <div class="col-12 text-right">
          <div class="btn btn-dark accountBtn text-primary">CANCEL</div>
        </div>
      </div>
    </div>
    <small *ngIf="currentlyRentals.length === 0" style = "letter-spacing: 1px; margin-bottom: 30px">You don't have any currently rentals!</small>

    <h5 class="accountHeadline text-danger ">Inactive rentals:</h5>
    <div *ngFor = "let inactiveCar of inactiveRentals" class="col-10 card accountCard border border-danger">
      <div class="row text-center ">
        <div class="col-12 accountInfo">Name: {{inactiveCar.vehicleName}}</div>
        <div class="col-6 accountInfo">From: {{inactiveCar.from | date}}</div>
        <div class="col-6 accountInfo">To: {{inactiveCar.to | date}}</div>
        <div class="col-12 text-right">
          <div class="btn btn-dark accountBtn text-danger">DELETE</div>
        </div>
      </div>
    </div>
    <small *ngIf="inactiveRentals.length === 0" style = "letter-spacing: 1px; ">You don't have any inactive rentals!</small>

  </div>
</div>
