<div class="container">
  <div class="row justify-content-center">
    <h1 class="accountHeadline">Welcome in your panel, {{name}}!</h1>
    <h5 class="accountHeadline text-success">Your future rentals:</h5>

    <div class="col-10 card accountCard ">
      <div class="row text-center border border-success">
        <div class="col-12 accountInfo">Name: BMW</div>
        <div class="col-6 accountInfo">From: 2020-04-23</div>
        <div class="col-6 accountInfo">To: 2020-04-23</div>
        <div class="col-12 text-right">
          <div class="btn btn-dark accountBtn text-success">CANCEL</div>
        </div>
      </div>
    </div>

    <h5 class="accountHeadline text-primary ">Your currently rentals:</h5>
    <div class="col-10 card accountCard border border-primary">
      <div class="row text-center ">
        <div class="col-12 accountInfo">Name: BMW</div>
        <div class="col-6 accountInfo">From: 2020-04-23</div>
        <div class="col-6 accountInfo">To: 2020-04-23</div>
        <div class="col-12 text-right">
          <div class="btn btn-dark accountBtn text-primary">CANCEL</div>
        </div>
      </div>
    </div>

    <h5 class="accountHeadline text-danger ">Inactive rentals:</h5>
    <div class="col-10 card accountCard border border-danger">
      <div class="row text-center ">
        <div class="col-12 accountInfo">Name: BMW</div>
        <div class="col-6 accountInfo">From: 2020-04-23</div>
        <div class="col-6 accountInfo">To: 2020-04-23</div>
        <div class="col-12 text-right">
          <div class="btn btn-dark accountBtn text-danger">DELETE</div>
        </div>
      </div>
    </div>

  </div>
</div>
